@media screen and (max-width:1024px){
    .home-icpms-content{
        flex-direction: column-reverse;
    }

    .home-icpms-content div{
        width: 100%;
    }

    .icpms-image{
        display: flex;
        justify-content: center!important;

    }

    .icpms-image img {
        width:70%;
    }

    .new-Features-img img{
        height: 230px;
    }

    .new-Features-content h2{
        font-size: 25px;
    }

    .home-sscscfyi-content h2{
        font-size: 35px;
    }

    .sscscfyi-content-sec h3{
        font-size: 25px;
    }

    .sscscfyi-line img{
        width: 100px!important;
        height: 6px!important;
    }

    .test-it-content-sec h2{
        font-size: 23px;
    }

    .test-it-content-sec{
        gap:30px;
    }

    .why-comm-main h2{
        font-size: 35px;
    }

    .why-comm-content-sec h3{
        font-size: 30px;
    }

    .our-ratings-reviews{
        flex-wrap: wrap;
    }

    .review-card{
        width: 46%;
        flex: none;
    }





    .res-com-inner-sec h2{
        font-size: 40px;
    }

    .feat-card{
        width: 50%;
    }

    .new-busi-section h3{
        font-size: 40px;
        line-height: 1.2em;
    }

    .new-busi-section p{
        font-size: 30px;
    }

    .home-sscscfyi-content{
        gap: 50px;
    }

    .sscscfyi-content-main{
        flex-direction: column;
    }

    .sscscfyi-content-main.top-image{
        flex-direction: column-reverse;
    }

    .comm-plans-inner-sec h2{
        font-size: 40px;
    }

    .comm-plans-inner-sec img{
        width: 100%;
    }

    .agent-splits-inner-sec{
        flex-direction: column;
    }




    .pricing-feat-inner-sec{
        gap:30px;
    }

    .pricing-feat-card img{
        height: 200px;
    }

    .pricing-feat-card{
        padding: 30px;
    }

    .pricing-feat-card h3{
        font-size: 25px;
        line-height: 1.2em;
    }



    .inner-contant-sec{
        flex-direction: column-reverse;
        gap:30px;
    }

    .inner-contant-sec div{
        width: 100%;
    }



    .menu-list-main{
        width: 100%;
        position: fixed;
        padding:50px 20px;
        background-color: #fff;
        top: 185px;
        transform: translateX(100%);
        left: 0px;
        flex-direction: column;
        gap:20px;
        align-items: center;
        z-index: 0;
        transition: .4s;
    }

    .menu-list-main.open{
        transform: translateX(0%);
    }

    .navbar-brand{
        width: 30%;
    }

    .main-navi-bar nav{
        width: 70%;
        padding-right:20px;
        overflow: hidden;
    }

    .log-btn{
        width: 200px;
    }

    .burger-toggle.mobile{
        display: flex;
    }

    .mobile{
        display: block;
    }

    .desktop{
        display: none;
    }


    .top-footer-sec{
        flex-direction: column;
        gap:40px;
    }

    .footer-brand{
        width: 100%;
        justify-content: flex-start;
    }

    .footer-brand img {
        width: 250px;
    }

    .footer-list-link{
        padding:0px!important;
        width: 100%;
        justify-content: center;
    }

    .bar-paragraph{
        padding: 5px 20px;
    }

    .bar-paragraph h3{
        font-size: 16px;
    }

    .section-image{
        display: flex;
        align-items: center;
    }

    .keybensec, .section-image{
        width: 50%;
    }

    .partner-sec h4{
        font-size: 45px;
    }


    .partner-sec p{
        font-size: 20px;
    }

    

}




@media screen and (max-width:500px){
    .icpms-content-sec h2{
        font-size: 25px;
    }

    .new-Features-content h2{
        font-size: 20px;
    }

    .new-Features-img{
        flex-wrap: wrap;
        gap:10px;
    }

    .new-Features-img img{
        width:45%;
        height: 180px;
    }

    .home-sscscfyi-content h2{
        width:100%;
        font-size:25px;
    }

    .sscscfyi-content-main{
        flex-direction: column;
    }

    .sscscfyi-content-main.top-image{
        flex-direction: column-reverse;
    }

    .test-it-content{
        flex-direction: column;
        padding:20px 0px 0px;
    }

    .test-it-content-sec, .test-it-img{
        width:100%!important;
    }

    .why-comm-main h2{
        width:100%;
        font-size: 25px;
    }

    .why-comm-content{
        flex-direction: column;
        gap: 30px;
    }

    .why-comm-content-sec h3{
        font-size: 20px;
    }

    .our-ratings-main h2{
        font-size: 35px;
    }

    .review-card{
        width: 100%;
    }

    .review-content{
        padding-top: 15px;
    }




    .feat-card{
        width: 100%;
    }

    .new-busi-section h3{
        font-size: 30px;
    }

    .new-busi-section p{
        font-size: 20px;
    }

    .sscscfyi-line h4{
        font-size: 25px;
    }

    .comm-plans-inner-sec h2{
        font-size: 35px;
    }

    .comm-plans-inner-sec h5{
        font-size: 18px;
    }

    .mapping-card{
        padding:30px;
    }



    .pricing-feat-card{
        width: 100%;
        padding:20px;
    }

    .bar-paragraph h3{
        font-size: 13px;
    }

    .main-navi-bar nav{
        width: 40%;
    }

    .navbar-brand{
        width: 60%;
    }

    .menu-list-main{
        top:180px;
    }



    .footer-icons{
        width: 100%;
    }

    .footer-list-link .list{
        flex-direction: column;
        gap: 10px;
    }

    .footer-list-link .list ul{
        width: 100%;
    }

    .footer-brand{
        justify-content: center;
    }


    .bot-footer-sec p{
        text-align: center;
    }

    .bar-icons{
        padding:10px 20px;
    }

    .keybensec{
        width: 100%;
        gap: 20px;
        margin: 20px 0px;
    }

    .keyben-item{
        width: 100%;
    }


    .partner-sec h4{
        font-size: 30px;
    }

    .partner-sec p{
        width: 100%;
    }


    .how-it-works-col{
        flex-direction: column;
    }


    .keybensec, .section-image{
        width:100%;
    }


    .keybensec h2{
        font-size: 40px;
    }
    
}